keras                        
keras-Preprocessing          
matplotlib                   
matplotlib-inline            
numpy                        
opencv-python                
pandas                      
scikit-learn                
sklearn                      
Pillow                       
streamlit                    
tensorflow-estimator         
tensorflow-gpu               
tensorflow-io-gcs-filesystem 
tqdm                         
